<div id="hello_world_view">
  <fieldset>
    <legend>{{ 'Hello World Extension'|trans }}</legend>
    <div class="view_label">{{ 'PAGE_ID'|trans }}</div>
    <div class="view_value">{{ page_id }}</div>
    <div class="view_clear"></div>
    <div class="view_label">{{ 'SECTION_ID'|trans }}</div>
    <div class="view_value">{{ section_id }}</div>
    <div class="view_clear"></div>
    <div class="view_label">{{ 'Last modified'|trans }}</div>
    <div class="view_value">{{ last_modified }}</div>
    <div class="view_clear"></div>
    {% autoescape false %}
      <div class="view_label">{{ 'Content'|trans }}</div>
      <div class="view_value">{{ content }}</div>
      <div class="view_clear"></div>    
    {% endautoescape %}
  </fieldset>
</div>
