{#
   kfHelloWorld
 
   @author Team phpManufaktur <team@phpmanufaktur.de>
   @link https://kit2.phpmanufaktur.de
   @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
   @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

<div class="sample_07_container">
  <h2>{{ 'Please type in your name'|trans }}</h2>
  {% if message|length > 0 %}
    <div class="message">{{ message }}</div>
  {% endif %}
  <div class="framework_form">
    <form action="{{ action }}" method="post"> 
      {{ form_widget(form) }}
      <label for="form_submit">&nbsp;</label><input id="form_submit" type="submit" value="{{ 'Submit'|trans }}" /> 
    </form>
  </div>
</div>